.meat {
    height: 300.5px;
}

.meat button {
    width: 100px;
    height: 75px;
}

.endgame {
    display: none;
    width: 200px;
    top: 220px;
    background-color: rgba(205, 133, 63, 0.8);
    position: absolute;
    left: 50%;
    margin-left: -100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 2em;
}